.body{ background-color: pink;

    .main-h4{ display: flex;
        padding: 20px;
        justify-content: center;
        margin: 50px;
        background-color: rgba(33, 177, 141, 0.514);
        border-radius: 2px; 
        font-size: 50px;
        height: 100%;
        box-sizing: content-box;
        font-family: 'Inconsolata', monospace;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
        }

        @keyframes aparecer { 0%{width:100px;}  
25%{width: 400px;} 
50%{width: 200px;
background-color: rgba(33, 177, 141, 0.514);}
75%{width: 300px;}
100% {width:100px;
background-color: rgba(226, 157, 169, 0.726)}
 }

    .main-ofertas{  
        margin: 200px;
        display: flex;
        justify-content: space-between;}

        .nav-item{font-family: 'Roboto Slab', serif;
            font-size: 25px;
            height: 50px;
            transition: 2s;
            width: 200px;
            
            }
            
            .nav-item:hover{ height: 60px;
            width: 250px;
            background-color: pink;
            border-radius: 10px;
            }
            
            .navbar-brand{font-family: Arial, Helvetica, sans-serif;
            width: 100px;
            transition: 2s;
            height: 50px;}
            
            .navbar-brand:hover{height: 60px;
                 width: 250px;
                background-color: pink;
                border-radius: 10px;}

}




.footer{      

.footer-h6{ display: flex;
            justify-content: center;
            background-color: rgb(212, 114, 130);
            padding: 30px;
            border: 10px;
            margin: 30px;
            border-radius: 10px; 
            }



 .redes{ list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 10px;
    margin: 0%;
   
}

   

        



}



.container{

    
    .col{ margin: 50px;
        padding: 20px;
        width: 35rem;
         background-color: rgba(226, 157, 169, 0.726);
        border-radius: 5px;
       
        }
        
        .card-img-top{ transition: 2s;
        height:290px;
        width: 290px;}
        
        .card-img-top:hover{height: 310px;
        width: 310px;}
         
        
        .btn{background-color: pink;
            transition: 2s;
            height: 40px;
            width: 200px;
        
        }

        .btn:hover{ height: 50px;
        width: 250px;}
        
        
        
}



.header-h1{ display: flex;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    padding: 20px;
    background-color: pink;
    
    }
    
    .main{background-color: pink;
    } 
    
    .mb-3{ background-color: pink;
    padding: 30px;}