.form{ height: 300px;
width: 800px;
padding: 40px;
border: 100px;
margin: auto;




.form_email{ display: flex;
justify-content: center;
font-family: 'Inconsolata', monospace;
font-size: 20px;}

.form_bloque{ display: flex;
justify-content: center;
margin:200px    ;}

}