
.main_nosotros{

    .col-sm{ 
        margin: 50px;
        padding: 20px;
        width: 50rem;
         background-color: rgba(226, 157, 169, 0.726);
        border-radius: 5px;
        height: 40rem ;
        overflow: scroll;
        overflow-x: hidden;


   }

   @media (max-width: 820px) {

    .col-sm{ width: 20rem;}
    
   }



   









.nosotros{ background-color: pink;
border-radius: 10px;
margin: 20px;
border: 20px;
padding: 30px;
display: flex;
justify-content: center;}

.img-fluid{transition: 2s;
background-image: none;}

.img-fluid:hover{ background: brown;}

.text{ border: 20px;
padding: 0.5rem;
margin: 1px;}

.text2{ padding: 0.3rem;
margin: 1px;}



}



