
.main_nosotros{

    .col-sm{ border-radius: 10px;
background-color: palevioletred;
width: 15rem;
margin: 200px;
padding: 100px;}



.h2_nosotros{ display: flex;
justify-content: center;
padding: 40px;
background-color: rgba(25, 129, 103, 0.514);
margin-bottom: 70px;
border-radius: 10px;}

.h3_nosotros{ display: flex;
    justify-content: center;
    background-color: rgba(25, 129, 103, 0.514);
padding: 40px;
margin-bottom: 70px;
border-radius: 10px;}

.h4_nosotros{display: flex;
    justify-content: center;
    padding: 40px;
    background-color: rgba(25, 129, 103, 0.514);
    margin-bottom: 70px;
border-radius: 10px;}

.nosotros{ background-color: pink;
border-radius: 10px;
margin: 20px;
border: 20px;
padding: 30px;
display: flex;
justify-content: center;}

.img-fluid{transition: 2s;
background-image: none;}

.img-fluid:hover{ background: brown;}



}



